/* Colors
	dark gray #6d6d6d
	darker blue #126cc6
	blue #8bc4dd
	white #fff
*/
img#logo{
	padding: 1.8em .2em .2em 2.2em;
}

.banner{
	padding: 16px 0;
}

#emerald{
	font-size: 60pt;
	padding-top: 80px;
}

#description{
	font-size: 20pt;
	padding-top: 0px;
}

body{
	font-size: 11pt;
}

h1{
	font-size: 60pt;
	line-height: 46px;
	background: #8bc4dd url('../media/turtle.png') no-repeat top left;
}

h2{
	font-size: 25pt;
}
main{
	margin: 2em 15%;
}

.header .menu-icon{
	padding: 112px 30px 0 0;
}

.header .menu{
	margin-top: 20px;
}
.header li a{
	text-align:center;
	background-color:#fff;
}

p#contact{
	font-size: 11pt;
}
