/* Colors
	dark gray #6d6d6d
	darker blue #126cc6
	blue #8bc4dd
	white #fff
*/
.header .menu{
	margin-right: 20px;
}

.header li a{
	margin:10px;
	padding: 10px;
}

.header li a:hover{
	background-color: white;
	color: #8bc4dd;
}
