@charset "UTF-8";

/* Colors
	dark gray #6d6d6d
	darker blue #2691b3
	blue #8bc4dd
	white #fff
	red #EA3939
*/

/* fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700);
@font-face{
  font-family: 'CardenioModern';
  src:url('../font/Cardenio_Modern_Bold.ttf');
  font-weight: bold;
}
@font-face{
  font-family: 'CardenioModern';
  src:url('../font/Cardenio_Modern_Std.ttf');
  font-weight: normal;
}
/* General */
#banner{
  background: white url('../media/banner.png') no-repeat top left;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;

}
body{
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 12pt;
	margin: 0 auto;
	background-color: white;
}

h2{
  font-family: 'CardenioModern';
  font-weight: bold;
	font-size: 33pt;
	font-weight: 600;
	color: #8bc4dd;
	text-align: center;
	text-transform: uppercase;
	margin: 15px 0 5px 0;
}

main{
	margin: 2em 25%;
	color: #6d6d6d;
	text-align: center;
}

a{
	text-decoration: none;
	color:#8bc4dd;
}

p{
	text-align: left;
	margin: 5px 0 10px 0;
}

footer{
  padding: 16px 0px 12px 0px;
  text-align: center;
  background-color: #8bc4dd;
  color: white;
}

/* Home Page */
#emerald{
    font-family: 'CardenioModern';
    font-weight:bold;
    font-size: 92pt;
    color: white;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 0；
}
#description{
    font-family: 'CardenioModern';
    font-weight: normal;
    font-size: 27pt;
    color: white;
    text-align: center;
    letter-spacing: 3px;
}
/* Navigation */
.header{
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  z-index: 100;
  display: none;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  font-family: Nunito, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 12.3pt;
  display: block;
  padding: 20px;
  color:#6d6d6d;
}

.header li a:hover{
  background-color: #fff;
  border:none;
}

.header .menu {
  clear: both;
  max-height: 0;
  margin-top: 70px;
  transition: max-height .2s ease-out;
}

/* Hamburger Icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #6d6d6d;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 22px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #6d6d6d;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* Hamburger Animation */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 310px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Active on Tablet and Mobile */
@media (min-width: 800px) {
  .header li {
    float: left;
  }
  
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* Home */
.banner{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 40px 0 20px 0;

}

img#logo{
	padding: 1em .5em .7em 2.7em;
}

/* Footer */
#medias{
  margin-top: 10px;
}
.sm{
  padding-left: 4px;
}

.sm:hover{
  opacity: 0.7;
}

/* About */
.about-imgs{
	display: block;
	margin-top: 3em;
	margin-right: auto;
	margin-left: auto;
	border-radius: 100%;
}

div#achievements ul{
	padding-left: 0;
}

div#achievements ul li{ 
	list-style-type: none;
}

a#resume:hover{
	color: #2691b3;
}

/* Resume */
main#resume-page ul li{
	list-style-type: none;
}

main#resume-page p{
	text-align: center;
}

div#resume-profile ul li{
	color: #254B77;
}

main#resume-page ul{
	padding-left: 0;
	margin: 3px;
}
