@charset "UTF-8";

/* Colors
	dark gray #303030
	darker blue #126cc6
	blue #1d99e7
	white #fff
	red #EA3939
*/

/* fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700);

/* General */
body{
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 12pt;
	margin: 0 auto;
	background-color: white;
}

h1{
	font-family: Poppins, sans-serif;
	font-size: 100pt;
	font-weight: 700;
	color: #fff;
	padding: 18% 0 0 0;
	line-height: 76px;
	background-image: url("../_media/background.jpg");
	text-align: center;
	text-transform: uppercase;
	margin: 0;

}

h2{
	font-size: 29pt;
	font-weight: 600;
	color: #126cc6;
	text-align: center;
	text-transform: uppercase;
	margin: 15px 0 5px 0;
	padding-top: 30px;
}

main{
	margin: 2em 25%;
	color: #303030;
	text-align: center;
}

a{
	text-decoration: none;
	color: #126cc6;
}

p{
	text-align: left;
	margin: 5px 0 10px 0;
}

h3{
	text-transform: none;
	color: #1d99e7;
	font-size: 18pt;
	margin-bottom: 3px;
}

h4{
	font-size: 14pt;
	margin: 5px 0;
}

/* Navigation */
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  font-family: Nunito, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 12.3pt;
  display: block;
  padding: 20px;
  color:#303030;
}

.header li a:hover{
  background-color: #f4f4f4;
  border:none;
}

.header .menu {
  clear: both;
  max-height: 0;
  margin-top: 70px;
  transition: max-height .2s ease-out;
}

/* Hamburger Icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #303030;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 22px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #303030;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* Hamburger Animation */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 310px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Active on Tablet and Mobile */
@media (min-width: 800px) {
  .header li {
    float: left;
  }
  
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* Home */
.banner{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 40px 0 20px 0;

}

img#logo{
	padding: 1em .5em .5em 2.7em;
	float: left;
}

/* About */
.about-imgs{
	display: block;
	margin-top: 3em;
	margin-right: auto;
	margin-left: auto;
	border-radius: 100%;
}

div#achievements ul{
	padding-left: 0;
}

div#achievements ul li{ 
	list-style-type: none;
}

a#resume:hover{
	color: #EA3939;
}

/* Resume */
main#resume-page ul li{
	list-style-type: none;
}

main#resume-page p{
	text-align: center;
}

div#resume-profile ul li{
	color: #254B77;
}

main#resume-page ul{
	padding-left: 0;
	margin: 3px;
}

/* Capstone */
main#capstone-page div p{
	text-align: center;
}

/* Contact & hover change icons*/
div#social-media-icons{
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

div#social-media-icons .sm{
	display: table-cell;
    text-align: center;
    padding: 65px 20px 10px 20px;
}

div#social-media-icons a:hover{
	color: #EA3939;
}

p#contact{
	font-size: 14pt;
	text-align: center;
}

div#social-media-icons a#fb {
    background-image: url(../_media/fb.png);
    background-repeat: no-repeat;
    background-position: top;
}

div#social-media-icons a#fb:hover {
    background-image: url(../_media/fb_hover.png);
    background-repeat: no-repeat;
    background-position: top;
}

div#social-media-icons a#phone {
    background-image: url(../_media/phone.png);
    background-repeat: no-repeat;
    background-position:top;
}

div#social-media-icons a#phone:hover {
    background-image: url(../_media/phone_hover.png);
    background-repeat: no-repeat;
    background-position: top;
}

div#social-media-icons a#mail {
    background-image: url(../_media/mail.png);
    background-repeat: no-repeat;
    background-position:top;
}

div#social-media-icons a#mail:hover {
    background-image: url(../_media/mail_hover.png);
    background-repeat: no-repeat;
    background-position: top;
}

/* Gallery */

.thumbnails{
	margin: 0 auto;
}

.thumbnails img{
	border-radius: 3px;
	margin: 2px;
}

.gallery-titles{
	clear: left;
}

.lb-details h3{
  font-weight: 400;
  text-transform: uppercase;
  line-height: 18pt;
  color: white;
  margin-top: 3px;
}

.lb-details p{
  font-family: "Open Sans" sans-serif;
  font-weight: 300;
  line-height: 12pt;
  color: #eee;
}

.lb-details p a{
	color: #1d99e7;
}

.lb-details p a:hover{
	color: #EA3939;
}
